.Dashboard{
    width: 60%;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .topTitle{
        width: 100%;
        flex: 0.1;
        text-align: center;
        color: #0e73c7;
        font-size: 2rem;
        font-weight: 500;
    }
    .container{
        width: 100%;
        flex: 0.9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .column{
            width: 100%;
            height: 47%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left, .right{
                width: 47%;
                height: 100%;
                box-shadow: 0 0 20px #e6e6e6;
                border-radius: 20px;
                padding: 1rem;
                text-align: center;
                line-height: 4rem;

                button{
                    width: 40%;
                    height: 3rem;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #0e73c7;
                    border-radius: 20px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #f3f3f3;
                }

                .fa-lightbulb{
                    font-size: 5rem;
                }
                .fa-lightbulb.yellow{
                    color: #e4e418;
                }
            }
        }
        .leftCon{
            
        }
    }
}

@media only screen and (max-width: 786px){
    .Dashboard{
        width: 90%;
        height: auto;
        .topTitle{
            margin: 2rem 0;
        }
        .container{
            width: 100%;
            .column{
                flex-direction: column;
                .left, .right{
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}